.top_bar{background:#cfd14b;padding:5px 0;}

.social_icons{color:#fff;margin-right:5px;}

.my_menu{margin-top:30px;padding:8px 5px;}

.contact_info{font-size:20px;color:#fff;}

.my_menu .navbar-nav .active a{background:#cfd14b; color:#fff}

.w3barw3black {background:#cfd14b; color:#fff}
.margin_top .
.our_bottum{background:#cfd14b;}
 .my_menu .navbar-nav .adil {font-size:50px;  background:#cfd14b; color:white;}
 .footer{background:#cfd14b;}
 .mb-4 {margin-top:50px;  margin-left:100px; margin-right:100px;margin-bottom:100px;}
   
 .w3-display-containermySlides {margin-top:50px; }  

.w3-contentw3displaycontainer {margin-left:100px;}




 



  

 






